body{
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: black;
    margin-top: 50px;
    font-size: 36px;
}
nav{
    background-color: black;
    padding: 15px 0;
    text-align : center;
    margin-top: 20px;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    margin: 0 15px;
    font-size: 18px;
    border-radius: 5px;
}
nav a:hover{
    background-color: blue;
    transform: scale(1.05);
}
nav a:active{
    background-color: blue;
}
footer{
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    background-color: grey;
    color: white;
}